{% macro table(subject) %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">sno</th>
            <th scope="col">Roll_no</th>
            <th scope="col">Date</th>
            <th scope="col">Stud name</th>
            <th scope="col">Attendance</th>


        </tr>
    </thead>
    <tbody>
        {% for entry in subject %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{entry.rollno}}</td>
            <td>{{entry.date}}</td>
            <td>{{entry.std_name}}</td>
            <td>{{entry.attendance}}</td>
           
        </tr>
        {% endfor %}
        <tr>
            <!-- stu in sub1 -->


        </tr>

        <!-- <button type="submit" class="btn btn-outline-dark">save</button> -->
    </tbody>

</table>
{% endmacro%}


{% macro table1(subject,average) %}
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Roll_no</th>
            
            <th scope="col">Stud name</th>
            <th scope="col">Avg</th>


        </tr>
    </thead>
    <tbody>
        {% for entry in subject  %}
            
       
        <tr>
            <th scope="row">{{entry.rollno}}</th>
           
           
            <td>{{entry.std_name}}</td>
            <td>{{average}}</td>
          
        </tr>
    {% endfor %}
        <tr>
            <!-- stu in sub1 -->


        </tr>

        <!-- <button type="submit" class="btn btn-outline-dark">save</button> -->
    </tbody>

</table>
{% endmacro%}